---
import type { GetStaticPaths } from "astro";
import type { Response } from "../../interfaces/pokemon-list.interface";

import Layout from "../../layouts/Layout.astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";

export const getStaticPaths = (async() => {
  const response = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
  const {results} = await response.json() as Response;

  return results.map(({name, url}) => ({
    params: {name},
    props: {name, url} 
  }));
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;

const id = url.split('/').at(-2)
const audioUrl = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`
---

<Layout 
  title={`Pokemon | #${id} ${name}`}
  description={`Informacion sobre el Pokemon ${name}`}
  image={imageSrc}
>
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div>
      <a href="/">Regresar</a>
      <h1 class="text-5xl capitalize">{name}</h1>
    </div>

    <PokemonCard 
      name={name}
      url={url}
      isBig
    />

    <audio controls class="mt-5">
      <source src={audioUrl} />
      Tu navegador no soporta el audio.
    </audio>

  </section>
</Layout>

<style>
  a {
    @apply hover:underline text-blue-500;
  }
</style>
